<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySQL Data and Hello</title>
</head>
<body>
    <h1>Hello, World!10</h1>
    <h2>People List</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
        {% for person in people %}
        <tr>
            <td>{{ person[0] }}</td>
            <td>{{ person[1] }}</td>
            <td>{{ person[2] }}</td>
            <td>{{ person[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
